@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

/* Theme */
:root {
  --primany-color: #f7ecde;
  --secondary-color: #e9dac1;
  --text-color: #2c3639;
  --note: #ffe9ae;
}

.dark-theme {
  --primany-color: #2c3333;
  --secondary-color: #3f4e4f;
  --text-color: #dcd7c9;
  --note: #b0a565;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Chakra Petch', sans-serif;
  position: relative;
}
body {
  background: var(--secondary-color);
  transition: 0.5s ease-in;
  padding-bottom: 2.5rem;
}

header {
  background-color: var(--primany-color);
  margin: 0 !important;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: 0.5s ease-in;
}

header h1 {
  color: var(--text-color);
  font-weight: 900;
  display: inline;
}

.theme-toggle {
  float: right;
}

/* Input  */
.input-area {
  margin: 5% 5%;
  display: grid;
  justify-content: center;
}
.input-box {
  transition: 0.3s ease-in-out;
  background-color: var(--note);
  padding: 7%;
  border-radius: 4px;
  border: 2px solid;
  box-shadow: 0.4rem 0.4rem 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.input-box h2 {
  margin: 2% 0 12%;
}

.color-btn {
  cursor: pointer;
  padding: 5px;
}

.add-btn {
  margin: 12% 0 3%;
  align-items: center;
  background-color: #f7ecde;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 20px;
  position: relative;
  transition: box-shadow 0.15s, transform 0.15s;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 1rem;
  font-weight: 900;
}

.add-btn:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.add-btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.add-btn:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.add-btn span:hover {
  animation: write 1.2s;
  animation-iteration-count: infinite;
}

@keyframes write {
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  60% {
    transform: translate(-2px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

input,
span,
label,
textarea {
  display: inline;
  padding: 5%;
  border: none;
  font-size: 1rem;
  resize: none;
  font-family: 'Chakra Petch', sans-serif;
}

textarea:focus {
  outline: 0;
}
/* Question */

textarea.question {
  font-size: 2rem;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid #e47676;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

textarea.question:focus + label {
  width: 100%;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 7%;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 1rem;
  color: var(--text-color);
}

textarea.question:valid + label {
  border-color: #ffd700;
}

textarea.question:invalid {
  box-shadow: none;
}

textarea.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8f8f8f;
  font-size: 2rem;
  top: -66px;
  left: 0px;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

/* Note */

.note-box {
  margin: 6%;
}

.note {
  border: 2px solid;
  padding: 10px;
  float: left;
  text-align: center;
  transition: 0.3s ease;
  width: 10rem;
  margin: 2rem;
  background: #d3cedf;
  color: black;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.5);
}

.note:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}

.note p {
  font-size: 1.1em;
  font-weight: 700;
  padding: 3%;
  margin: 5% 0 3%;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note-btn {
  z-index: -1;
  position: absolute;
  top: 1.3rem;
  left: 1.3rem;
  border-radius: 100%;
  width: 0rem;
  height: 0rem;
  transform: translate(-50%, -50%);
  transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
}

.note-btn button {
  display: grid;
  place-items: center;
  position: absolute;
  width: 2.3rem;
  height: 2.3rem;
  border: none;
  border-radius: 100%;
  background: white;
  color: black;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0rem -0.25rem black;
}

.note-btn button:hover {
  background: #2c3639;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}
.note-btn button:first-child:nth-last-child(1) {
  left: 25%;
  top: 25%;
}
.note-btn button:first-child:nth-last-child(2):nth-child(1),
.note-btn button:first-child:nth-last-child(2) ~ *:nth-child(1) {
  left: 37.5%;
  top: 18.75%;
}
.note-btn button:first-child:nth-last-child(2):nth-child(2),
.note-btn button:first-child:nth-last-child(2) ~ *:nth-child(2) {
  left: 18.75%;
  top: 37.5%;
}

.note:hover .note-btn,
.note-btn:focus-within {
  width: 10rem;
  height: 10rem;
}

#check:hover,
#trash:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s ease-in-out;
}

/* Footer */

footer {
  text-align: center;
  position: absolute;
  bottom: -5%;
  width: 100%;
  height: 2.5rem;
}

footer p {
  font-size: 0.9rem;
  color: var(--text-color);
}

/* card decorations */

.text-decoration {
  text-decoration: line-through;
}

.delete-animation-exit-active {
  animation: fallAway forwards 1.5s ease-out 1;
}

@keyframes fallAway {
  0% {
    transform: rotateZ(0deg);
    top: 0;
    opacity: 1;
  }
  25% {
    transform: rotateZ(-15deg);
  }
  100% {
    top: 300px;
    transform: rotateZ(-5deg);
    opacity: 0;
  }
}

/* mobile responsive */

@media screen and (max-width: 480px) {
  .note-container {
    display: grid;
    justify-content: center;
  }
}
